=form_for @photo do |f|
  %fieldset
    .field
      =f.label :title, "Name"
      .control
        =f.text_field :title
    .field
      =f.label :url, "Photo"
      .control.file
        =f.file_field :url

  .actions
    =f.submit "Upload"
